node_modules
node_modules/*
Assignment 3 UI Design (1).fig
Assignment 3 UI Design (1).fig/*
Landing Page Design.jpg
Landing Page Design.jpg/*
Landing Page Design.pdf
Landing Page Design.pdf/*
Mobile Responsive Design.pdf
Mobile Responsive Design.pdf/*
Mobile Responsive Image.jpg
Mobile Responsive Image.jpg/*
